<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicCols">
          <div class="publicCol-7">
            <div class="publictitle">工作項目</div>
            <div class="publicBox">
              <div class="titleDiv">
                <div class="itemDiv">
                  <div class="text">名稱</div>
                  <div class="state">狀態</div>
                </div>
              </div>
              <div class="itemDivs">
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
                <div class="itemDiv">
                  <div class="text">4564564654878</div>
                  <div class="state">
                    <a href="#" class="delete">刪除</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="publictitle">新增項目</div>
            <div class="publicBox">
              <div class="inputDiv">
                <div class="label">
                  <label for="name">項目名稱</label>
                </div>
                <div class="input">
                  <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
                </div>
              </div>
              <div class="inputDiv">
                <div class="label">
                  <label for="url">項目網址</label>
                </div>
                <div class="input">
                  <input type="text" id="url" name="url" required/>
                </div>
              </div>
              <div class="inputDiv">
                <div class="label">
                  <label for="category">項目來源</label>
                </div>
                <div class="input">
                  <select name="category" id="category">
                    <option value="fb">fb</option>
                    <option value="104">104</option>
                    <option value="518">518</option>
                  </select>
                </div>
              </div>
              <div class="buttonDiv">
                <a href="#" class="delete">新增</a>
              </div>
            </div>
          </div>
          <div class="publicCol-3">
            <div class="publictitle">總數量</div>
            <div class="publicBox">
              <!-- <div class="item title">
                <div class="text">名稱</div>
                <div class="text">數量</div>
              </div> -->
              <%# data['rows1'].forEach(function(r) { %>
              <div class="item">
                <div class="text"><%= r.storename %></div>
                <div class="number"><%= r.number %></div>
              </div>
              <%# }) %>
              <!-- <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div>
              <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div>
              <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div> -->
            </div>
            <div class="publictitle">周數量</div>
            <div class="publicBox">
              <!-- <div class="item title">
                <div class="text">名稱</div>
                <div class="text">數量</div>
              </div> -->
              <%# data['rows2'].forEach(function(r) { %>
                <div class="item">
                  <div class="text"><%= r.storename %></div>
                  <div class="number"><%= r.number %></div>
                </div>
              <%# }) %>
              <!-- <div class="item">
                <div class="text">13333333333333333333321</div>
                <div class="number">12</div>
              </div>
              <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div>
              <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div>
              <div class="item">
                <div class="text">13333333333333333333333333321</div>
                <div class="number">12</div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>