<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
      <div class="publicContent">
        <div class="publicWidth">
          <!-- <div class="publicCols">
            <div class="publicCol-7"> -->
              <!-- <div class="publictitle">工作列表</div> -->
              <div class="publicBoxs">
                <% data['rows'].forEach(function(r) { %>
                  <div class="publicBox">
                    <div class="topDiv">
                      <div class="left">
                        <div class="img">
                          <img src="<%= r.headimgsrc %>" alt="">
                        </div>
                        <div class="text">
                          <a class="name" href="<%= r.namehref %>" target="_blank"><%= r.name %></a>
                          <a class="date" href="<%= r.timeurl %>" target="_blank"><%= r.time %></a>
                        </div>
                      </div>
                      <div class="deleteDiv">
                        <a href="#" class="delete" data-id="<%= r.id %>">
                          <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                        </a>
                      </div>
                    </div>
                    <div class="textDiv">
                      <p><%= r.articles %></p>
                    </div>
                    <% if(r.imgsrc){ %>
                      <% r.imgsrc.split(',').forEach(function(i) { %>
                      <div class="imgDiv">
                        <div class="img">
                          <img src="<%= i.timeurl %>" alt="">
                        </div>
                      </div>
                      <% }) %>
                    <% } %>
                    <div class="buttonDiv">
                      <a href="<%= r.namehref %>" target="_blank">瞭解詳情</a>
                    </div>
                  </div>
                <% }); %>
              </div>
              <!-- <div class="publicBox">
                <div class="topDiv">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-1/361226833_7141217849240612_5990054882499851748_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DxZknGH4M7QAX8B9Sy0&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfA6BRlLu4oqxllNPFvWpxzFHgmIfsJeq3xiet7rKplOow&oe=652C3886" alt="">
                  </div>
                  <div class="text">
                    <a class="name" href="#">123</a>
                    <div class="date">2023-10-10</div>
                  </div>
                </div>
                <div class="textDiv">
                  135456
                </div>
                <div class="imgDiv">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-6/391707772_300416879439849_4215089366155800182_n.jpg?stp=dst-jpg_s600x600&_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_ohc=jH_xUkDyoSkAX-kmwzk&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfAMqooIOpXr1RNXp3A58nGa--c4YWOqaZs_QQy4KayZEw&oe=652D569F" alt="">
                  </div>
                </div>
                <div class="buttonDiv">
                  <a href="">瞭解詳情</a>
                </div>
              </div> -->
              <%- include('publicPageNumber') %>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>