<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth"></div>
    </div>
    <script src="./js/public.js"></script>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>