<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
  <link rel="stylesheet" href="./css/<%= active %>.css">
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
      <div class="publicContent">
        <div class="publicWidth">
          <div class="publicCols">
            <div class="publicCol-7">
              <div class="publictitle">工作列表</div>
              <div class="publicBox">
                <div class="topDiv">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-1/361226833_7141217849240612_5990054882499851748_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DxZknGH4M7QAX8B9Sy0&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfA6BRlLu4oqxllNPFvWpxzFHgmIfsJeq3xiet7rKplOow&oe=652C3886" alt="">
                  </div>
                  <div class="text">
                    <a class="name" href="#">123</a>
                    <div class="date">2023-10-10</div>
                  </div>
                </div>
                <div class="textDiv">
                  135456
                </div>
                <div class="imgDiv">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-6/391707772_300416879439849_4215089366155800182_n.jpg?stp=dst-jpg_s600x600&_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_ohc=jH_xUkDyoSkAX-kmwzk&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfAMqooIOpXr1RNXp3A58nGa--c4YWOqaZs_QQy4KayZEw&oe=652D569F" alt="">
                  </div>
                </div>
                <div class="buttonDiv">
                  <a href="">瞭解詳情</a>
                </div>
              </div>
              <div class="publicBox">
                <div class="top">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-1/361226833_7141217849240612_5990054882499851748_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DxZknGH4M7QAX8B9Sy0&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfA6BRlLu4oqxllNPFvWpxzFHgmIfsJeq3xiet7rKplOow&oe=652C3886" alt="">
                  </div>
                  <div class="text">
                    <a class="name" href="#">123</a>
                    <div class="date">2023-10-10</div>
                  </div>
                </div>
                <div class="textDiv">
                  135456
                </div>
                <div class="imgDiv">
                  <div class="img">
                    <img src="https://scontent.fkhh1-2.fna.fbcdn.net/v/t39.30808-6/391707772_300416879439849_4215089366155800182_n.jpg?stp=dst-jpg_s600x600&_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_ohc=jH_xUkDyoSkAX-kmwzk&_nc_ht=scontent.fkhh1-2.fna&cb_e2o_trans=t&oh=00_AfAMqooIOpXr1RNXp3A58nGa--c4YWOqaZs_QQy4KayZEw&oe=652D569F" alt="">
                  </div>
                </div>
                <div class="buttonDiv">
                  <a href="">瞭解詳情</a>
                </div>
              </div>
              <ul class="publicPageNumber">
                <li>
                  <a href="#" class="disable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
                  </a>
                </li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="publicCol-3">
              <!-- <div class="publictitle">工作項目總數量</div> -->
              <div class="publictitle">總統計</div>
              <div class="publicBox">
                <div class="item title">
                  <div class="text">名稱</div>
                  <div class="text">數量</div>
                </div>
                <div class="item">
                  <div class="text publicEllipsis1">13333333333333333333321</div>
                  <div class="number">12</div>
                </div>
                <div class="item">
                  <div class="text publicEllipsis1">13333333333333333333333333321</div>
                  <div class="number">12</div>
                </div>
              </div>
              <div class="publictitle">周數量</div>
              <div class="publicBox">
                <div class="item title">
                  <div class="text">名稱</div>
                  <div class="text">數量</div>
                </div>
                <div class="item">
                  <div class="text publicEllipsis1">13333333333333333333321</div>
                  <div class="number">12</div>
                </div>
                <div class="item">
                  <div class="text publicEllipsis1">13333333333333333333333333321</div>
                  <div class="number">12</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
    <script src="./js/<%= active %>.js"></script>
  </div>
</body>
</html>